! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------
#define base00 #121212
#define base01 #222222
#define base02 #666666
#define base03 #888888
#define base04 #888888
#define base05 #C1C1C1
#define base06 #999999
#define base07 #222222
#define base08 #5F8787
#define base09 #5F8787
#define base0A #666666
#define base0B #444444
#define base0C #AAAAAA
#define base0D #888888
#define base0E #999999
#define base0F #AAAAAA

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base09
*color10:      base01
*color11:      base02
*color12:      base04
*color13:      base06
*color14:      base0F
*color15:      base07
*color16:      base00
*color17:      base05
*color18:      base0C
*color19:      base05
*color20:      base05
*color21: 	   base00




! [ urxvt ]
URxvt*background: [100]base00
!! URxvt*background: [100]#1e1f29
!! URxvt*foreground: #F10490
! URxvt*foreground: #6eca7c
! URxvt*foreground: #737373 GRAY
URxvt*foreground: base05
URxvt*cursorColor: #E25454
URxvt.intensityStyles:	false
URxvt.depth:		32
!* monospace old font
URxvt.font: 		xft:Terminus:style=Regular:size=8
!*URxvt.font: 		xft:ypn envypn:size=8
URxvt.scrollBar:	false
URxvt.cursorColor:	red
URxvt.cursorUnderline: true
!* https://bbs.archlinux.org/viewtopic.php?id=282791 *!
! *URxvt.geometry: 400x400

!! #path for extensions: /usr/lib/x86_64-linux-gnu/urxvt/perl
!! Extensions
URxvt.perl-ext-common:	default,matcher,resize-font,url-select,keyboard-select,clippy,selection-to-clipboard,-confirm-paste
URxvt.colorUL:		#4682B4
!! url-select
URxvt.keysym.M-u:	perl:url-select:select_next
URxvt.url-select.launcher: linkhandler
URxvt.url-select.underline: true
!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate
!! resize-font
URxvt.resize-font.smaller:	C-Down
URxvt.resize-font.bigger:	C-Up
!! Matcher
URxvt.url-launcher:	linkhandler
URxvt.matcher.button:	1



Xft.antialias: true
! General
urxvt*termName: rxvt-unicode-256color
urxvt*loginShell:         true
urxvt*scrollBar:         false
urxvt*secondaryScroll:    true
urxvt*saveLines:         65535
urxvt*cursorBlink:        true
urxvt*urgentOnBell:       true
!urxvt*override-redirect:false
urxvt*borderLess:                       false 
!urxvt*internalBorder:       0
!urxvt*externalBorder:       0

!URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: False
URxvt*mouseWheelScrollPage: true

urxvt*url-launcher: qutebrowser
urxvt*matcher.button: 1

URxvt.color24:  #076678
URxvt.color66:  #427b58
URxvt.color88:  #9d0006
URxvt.color96:  #8f3f71
URxvt.color100: #79740e
URxvt.color108: #8ec07c
URxvt.color109: #83a598
URxvt.color130: #af3a03
URxvt.color136: #b57614
URxvt.color142: #b8bb26
URxvt.color167: #fb4934
URxvt.color175: #d3869b
URxvt.color208: #fe8019
URxvt.color214: #fabd2f
URxvt.color223: #ebdbb2
URxvt.color228: #f2e5bc
URxvt.color229: #fbf1c7
URxvt.color230: #f9f5d7
URxvt.color234: #1d2021
URxvt.color235: #282828
URxvt.color236: #32302f
URxvt.color237: #3c3836
URxvt.color239: #504945
URxvt.color241: #665c54
URxvt.color243: #7c6f64
URxvt.color244: #928374
URxvt.color245: #928374
URxvt.color246: #a89984
URxvt.color248: #bdae93
URxvt.color250: #d5c4a1
